


@using Kaisokku_Common;
@model CRMList
@{ Layout = null; }

<form id="basic-form">
    <div class="form-group">
        <label for="Description">Import CSV File</label>
        <input type="file" class="form-control" id="CreateVideoFile" multiple aria-describedby="updatedby">
        <p id="upload" style="color:red;"></p>
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
    </div>
</form>