


@using Kaisokku_Common;
@model Tasks
@{ Layout = null; }

<form>
    <div class="form-group">
        <label for="Title">@Kaisokku_Sales.Resources.Resource.Title</label>
        <input type="text" class="form-control" id="CreateTaskTitle" aria-describedby="emailHelp">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
        <p id="title" style="color:red;"></p>
    </div>
    <div class="form-group">
        <label for="Description">@Kaisokku_Sales.Resources.Resource.Description</label>
        <input type="text" class="form-control" id="CreateTaskDesc" aria-describedby="updatedby">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
        <p id="des" style="color:red;"></p>
    </div>
    <div class="form-group">
        <label for="Description">@Kaisokku_Sales.Resources.Resource.Username</label><br />
        @Html.DropDownList("SelectUser", TempData["SelectUser"] as SelectList, "-Select-" )
        @{TempData.Keep("SelectUser");}
    </div>
</form>