USE [best_wrn_new]
GO
/****** Object:  Table [dbo].[0702_9]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0702_9]') AND type in (N'U'))
DROP TABLE [dbo].[0702_9]
GO
/****** Object:  Table [dbo].[0702_4]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0702_4]') AND type in (N'U'))
DROP TABLE [dbo].[0702_4]
GO
/****** Object:  Table [dbo].[0702_3]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0702_3]') AND type in (N'U'))
DROP TABLE [dbo].[0702_3]
GO
/****** Object:  Table [dbo].[0702_2]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0702_2]') AND type in (N'U'))
DROP TABLE [dbo].[0702_2]
GO
/****** Object:  Table [dbo].[0702_1]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0702_1]') AND type in (N'U'))
DROP TABLE [dbo].[0702_1]
GO
/****** Object:  Table [dbo].[0702_0]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0702_0]') AND type in (N'U'))
DROP TABLE [dbo].[0702_0]
GO
/****** Object:  Table [dbo].[0701_9]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0701_9]') AND type in (N'U'))
DROP TABLE [dbo].[0701_9]
GO
/****** Object:  Table [dbo].[0701_4]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0701_4]') AND type in (N'U'))
DROP TABLE [dbo].[0701_4]
GO
/****** Object:  Table [dbo].[0701_3]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0701_3]') AND type in (N'U'))
DROP TABLE [dbo].[0701_3]
GO
/****** Object:  Table [dbo].[0701_2]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0701_2]') AND type in (N'U'))
DROP TABLE [dbo].[0701_2]
GO
/****** Object:  Table [dbo].[0701_1]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0701_1]') AND type in (N'U'))
DROP TABLE [dbo].[0701_1]
GO
/****** Object:  Table [dbo].[0701_0]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0701_0]') AND type in (N'U'))
DROP TABLE [dbo].[0701_0]
GO
/****** Object:  Table [dbo].[06AA_9]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[06AA_9]') AND type in (N'U'))
DROP TABLE [dbo].[06AA_9]
GO
/****** Object:  Table [dbo].[06AA_4]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[06AA_4]') AND type in (N'U'))
DROP TABLE [dbo].[06AA_4]
GO
/****** Object:  Table [dbo].[06AA_3]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[06AA_3]') AND type in (N'U'))
DROP TABLE [dbo].[06AA_3]
GO
/****** Object:  Table [dbo].[06AA_2]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[06AA_2]') AND type in (N'U'))
DROP TABLE [dbo].[06AA_2]
GO
/****** Object:  Table [dbo].[06AA_1]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[06AA_1]') AND type in (N'U'))
DROP TABLE [dbo].[06AA_1]
GO
/****** Object:  Table [dbo].[06AA_0]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[06AA_0]') AND type in (N'U'))
DROP TABLE [dbo].[06AA_0]
GO
/****** Object:  Table [dbo].[0612_9]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0612_9]') AND type in (N'U'))
DROP TABLE [dbo].[0612_9]
GO
/****** Object:  Table [dbo].[0612_4]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0612_4]') AND type in (N'U'))
DROP TABLE [dbo].[0612_4]
GO
/****** Object:  Table [dbo].[0612_3]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0612_3]') AND type in (N'U'))
DROP TABLE [dbo].[0612_3]
GO
/****** Object:  Table [dbo].[0612_2]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0612_2]') AND type in (N'U'))
DROP TABLE [dbo].[0612_2]
GO
/****** Object:  Table [dbo].[0612_1]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0612_1]') AND type in (N'U'))
DROP TABLE [dbo].[0612_1]
GO
/****** Object:  Table [dbo].[0612_0]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0612_0]') AND type in (N'U'))
DROP TABLE [dbo].[0612_0]
GO
/****** Object:  Table [dbo].[0611_9]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0611_9]') AND type in (N'U'))
DROP TABLE [dbo].[0611_9]
GO
/****** Object:  Table [dbo].[0611_4]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0611_4]') AND type in (N'U'))
DROP TABLE [dbo].[0611_4]
GO
/****** Object:  Table [dbo].[0611_3]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0611_3]') AND type in (N'U'))
DROP TABLE [dbo].[0611_3]
GO
/****** Object:  Table [dbo].[0611_2]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0611_2]') AND type in (N'U'))
DROP TABLE [dbo].[0611_2]
GO
/****** Object:  Table [dbo].[0611_1]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0611_1]') AND type in (N'U'))
DROP TABLE [dbo].[0611_1]
GO
/****** Object:  Table [dbo].[0611_0]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0611_0]') AND type in (N'U'))
DROP TABLE [dbo].[0611_0]
GO
/****** Object:  Table [dbo].[0610_9]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0610_9]') AND type in (N'U'))
DROP TABLE [dbo].[0610_9]
GO
/****** Object:  Table [dbo].[0610_4]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0610_4]') AND type in (N'U'))
DROP TABLE [dbo].[0610_4]
GO
/****** Object:  Table [dbo].[0610_3]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0610_3]') AND type in (N'U'))
DROP TABLE [dbo].[0610_3]
GO
/****** Object:  Table [dbo].[0610_2]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0610_2]') AND type in (N'U'))
DROP TABLE [dbo].[0610_2]
GO
/****** Object:  Table [dbo].[0610_1]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0610_1]') AND type in (N'U'))
DROP TABLE [dbo].[0610_1]
GO
/****** Object:  Table [dbo].[0610_0]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0610_0]') AND type in (N'U'))
DROP TABLE [dbo].[0610_0]
GO
/****** Object:  Table [dbo].[0609_9]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0609_9]') AND type in (N'U'))
DROP TABLE [dbo].[0609_9]
GO
/****** Object:  Table [dbo].[0609_4]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0609_4]') AND type in (N'U'))
DROP TABLE [dbo].[0609_4]
GO
/****** Object:  Table [dbo].[0609_3]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0609_3]') AND type in (N'U'))
DROP TABLE [dbo].[0609_3]
GO
/****** Object:  Table [dbo].[0609_2]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0609_2]') AND type in (N'U'))
DROP TABLE [dbo].[0609_2]
GO
/****** Object:  Table [dbo].[0609_1]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0609_1]') AND type in (N'U'))
DROP TABLE [dbo].[0609_1]
GO
/****** Object:  Table [dbo].[0609_0]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0609_0]') AND type in (N'U'))
DROP TABLE [dbo].[0609_0]
GO
/****** Object:  Table [dbo].[0608_9]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0608_9]') AND type in (N'U'))
DROP TABLE [dbo].[0608_9]
GO
/****** Object:  Table [dbo].[0608_4]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0608_4]') AND type in (N'U'))
DROP TABLE [dbo].[0608_4]
GO
/****** Object:  Table [dbo].[0608_3]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0608_3]') AND type in (N'U'))
DROP TABLE [dbo].[0608_3]
GO
/****** Object:  Table [dbo].[0608_2]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0608_2]') AND type in (N'U'))
DROP TABLE [dbo].[0608_2]
GO
/****** Object:  Table [dbo].[0608_1]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0608_1]') AND type in (N'U'))
DROP TABLE [dbo].[0608_1]
GO
/****** Object:  Table [dbo].[0608_0]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0608_0]') AND type in (N'U'))
DROP TABLE [dbo].[0608_0]
GO
/****** Object:  Table [dbo].[0607_9]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0607_9]') AND type in (N'U'))
DROP TABLE [dbo].[0607_9]
GO
/****** Object:  Table [dbo].[0607_4]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0607_4]') AND type in (N'U'))
DROP TABLE [dbo].[0607_4]
GO
/****** Object:  Table [dbo].[0607_3]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0607_3]') AND type in (N'U'))
DROP TABLE [dbo].[0607_3]
GO
/****** Object:  Table [dbo].[0607_2]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0607_2]') AND type in (N'U'))
DROP TABLE [dbo].[0607_2]
GO
/****** Object:  Table [dbo].[0607_1]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0607_1]') AND type in (N'U'))
DROP TABLE [dbo].[0607_1]
GO
/****** Object:  Table [dbo].[0607_0]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0607_0]') AND type in (N'U'))
DROP TABLE [dbo].[0607_0]
GO
/****** Object:  Table [dbo].[0606_9]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0606_9]') AND type in (N'U'))
DROP TABLE [dbo].[0606_9]
GO
/****** Object:  Table [dbo].[0606_4]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0606_4]') AND type in (N'U'))
DROP TABLE [dbo].[0606_4]
GO
/****** Object:  Table [dbo].[0606_3]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0606_3]') AND type in (N'U'))
DROP TABLE [dbo].[0606_3]
GO
/****** Object:  Table [dbo].[0606_2]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0606_2]') AND type in (N'U'))
DROP TABLE [dbo].[0606_2]
GO
/****** Object:  Table [dbo].[0606_1]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0606_1]') AND type in (N'U'))
DROP TABLE [dbo].[0606_1]
GO
/****** Object:  Table [dbo].[0606_0]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0606_0]') AND type in (N'U'))
DROP TABLE [dbo].[0606_0]
GO
/****** Object:  Table [dbo].[0605_9]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0605_9]') AND type in (N'U'))
DROP TABLE [dbo].[0605_9]
GO
/****** Object:  Table [dbo].[0605_4]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0605_4]') AND type in (N'U'))
DROP TABLE [dbo].[0605_4]
GO
/****** Object:  Table [dbo].[0605_3]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0605_3]') AND type in (N'U'))
DROP TABLE [dbo].[0605_3]
GO
/****** Object:  Table [dbo].[0605_2]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0605_2]') AND type in (N'U'))
DROP TABLE [dbo].[0605_2]
GO
/****** Object:  Table [dbo].[0605_1]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0605_1]') AND type in (N'U'))
DROP TABLE [dbo].[0605_1]
GO
/****** Object:  Table [dbo].[0605_0]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0605_0]') AND type in (N'U'))
DROP TABLE [dbo].[0605_0]
GO
/****** Object:  Table [dbo].[0604_9]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0604_9]') AND type in (N'U'))
DROP TABLE [dbo].[0604_9]
GO
/****** Object:  Table [dbo].[0604_4]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0604_4]') AND type in (N'U'))
DROP TABLE [dbo].[0604_4]
GO
/****** Object:  Table [dbo].[0604_3]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0604_3]') AND type in (N'U'))
DROP TABLE [dbo].[0604_3]
GO
/****** Object:  Table [dbo].[0604_2]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0604_2]') AND type in (N'U'))
DROP TABLE [dbo].[0604_2]
GO
/****** Object:  Table [dbo].[0604_1]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0604_1]') AND type in (N'U'))
DROP TABLE [dbo].[0604_1]
GO
/****** Object:  Table [dbo].[0604_0]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0604_0]') AND type in (N'U'))
DROP TABLE [dbo].[0604_0]
GO
/****** Object:  Table [dbo].[0603_9]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0603_9]') AND type in (N'U'))
DROP TABLE [dbo].[0603_9]
GO
/****** Object:  Table [dbo].[0603_4]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0603_4]') AND type in (N'U'))
DROP TABLE [dbo].[0603_4]
GO
/****** Object:  Table [dbo].[0603_3]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0603_3]') AND type in (N'U'))
DROP TABLE [dbo].[0603_3]
GO
/****** Object:  Table [dbo].[0603_2]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0603_2]') AND type in (N'U'))
DROP TABLE [dbo].[0603_2]
GO
/****** Object:  Table [dbo].[0603_1]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0603_1]') AND type in (N'U'))
DROP TABLE [dbo].[0603_1]
GO
/****** Object:  Table [dbo].[0603_0]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0603_0]') AND type in (N'U'))
DROP TABLE [dbo].[0603_0]
GO
/****** Object:  Table [dbo].[0602_9]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0602_9]') AND type in (N'U'))
DROP TABLE [dbo].[0602_9]
GO
/****** Object:  Table [dbo].[0602_4]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0602_4]') AND type in (N'U'))
DROP TABLE [dbo].[0602_4]
GO
/****** Object:  Table [dbo].[0602_3]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0602_3]') AND type in (N'U'))
DROP TABLE [dbo].[0602_3]
GO
/****** Object:  Table [dbo].[0602_2]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0602_2]') AND type in (N'U'))
DROP TABLE [dbo].[0602_2]
GO
/****** Object:  Table [dbo].[0602_1]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0602_1]') AND type in (N'U'))
DROP TABLE [dbo].[0602_1]
GO
/****** Object:  Table [dbo].[0602_0]    Script Date: 2020/11/23 16:40:18 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[0602_0]') AND type in (N'U'))
DROP TABLE [dbo].[0602_0]
GO
/****** Object:  Table [dbo].[0602_0]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0602_0](
	[BY_cls] [nvarchar](2) NULL,
	[item] [nvarchar](8) NULL,
	[cnt] [decimal](18, 0) NULL,
	[prc] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0602_1]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0602_1](
	[BY_cls] [nvarchar](2) NULL,
	[item] [nvarchar](8) NULL,
	[cnt] [decimal](18, 0) NULL,
	[prc] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0602_2]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0602_2](
	[BY_cls] [nvarchar](2) NULL,
	[item] [nvarchar](8) NULL,
	[cnt] [decimal](18, 0) NULL,
	[prc] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0602_3]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0602_3](
	[BY_cls] [nvarchar](2) NULL,
	[item] [nvarchar](8) NULL,
	[cnt] [decimal](18, 0) NULL,
	[prc] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0602_4]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0602_4](
	[BY_cls] [nvarchar](2) NULL,
	[item] [nvarchar](8) NULL,
	[cnt] [decimal](18, 0) NULL,
	[prc] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0602_9]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0602_9](
	[BY_cls] [nvarchar](2) NULL,
	[item] [nvarchar](8) NULL,
	[cnt] [decimal](18, 0) NULL,
	[prc] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0603_0]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0603_0](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0603_1]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0603_1](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0603_2]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0603_2](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0603_3]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0603_3](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0603_4]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0603_4](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0603_9]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0603_9](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0604_0]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0604_0](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0604_1]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0604_1](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0604_2]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0604_2](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0604_3]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0604_3](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0604_4]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0604_4](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0604_9]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0604_9](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0605_0]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0605_0](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0605_1]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0605_1](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0605_2]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0605_2](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0605_3]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0605_3](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0605_4]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0605_4](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0605_9]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0605_9](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0606_0]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0606_0](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0606_1]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0606_1](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0606_2]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0606_2](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0606_3]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0606_3](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0606_4]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0606_4](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0606_9]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0606_9](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0607_0]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0607_0](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0607_1]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0607_1](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0607_2]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0607_2](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0607_3]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0607_3](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0607_4]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0607_4](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0607_9]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0607_9](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0608_0]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0608_0](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0608_1]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0608_1](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0608_2]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0608_2](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0608_3]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0608_3](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0608_4]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0608_4](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0608_9]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0608_9](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0609_0]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0609_0](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0609_1]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0609_1](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0609_2]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0609_2](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0609_3]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0609_3](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0609_4]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0609_4](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0609_9]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0609_9](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0610_0]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0610_0](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0610_1]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0610_1](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0610_2]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0610_2](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0610_3]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0610_3](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0610_4]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0610_4](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0610_9]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0610_9](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0611_0]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0611_0](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0611_1]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0611_1](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0611_2]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0611_2](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0611_3]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0611_3](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0611_4]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0611_4](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0611_9]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0611_9](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0612_0]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0612_0](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0612_1]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0612_1](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0612_2]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0612_2](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0612_3]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0612_3](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0612_4]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0612_4](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0612_9]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0612_9](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[06AA_0]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[06AA_0](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[06AA_1]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[06AA_1](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[06AA_2]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[06AA_2](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[06AA_3]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[06AA_3](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[06AA_4]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[06AA_4](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[06AA_9]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[06AA_9](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0701_0]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0701_0](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0701_1]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0701_1](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0701_2]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0701_2](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0701_3]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0701_3](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0701_4]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0701_4](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0701_9]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0701_9](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0702_0]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0702_0](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0702_1]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0702_1](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0702_2]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0702_2](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0702_3]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0702_3](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0702_4]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0702_4](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[0702_9]    Script Date: 2020/11/23 16:40:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[0702_9](
	[BY_cls] [char](1) NULL,
	[item] [nvarchar](4) NULL,
	[cnt] [int] NULL,
	[prc] [int] NULL
) ON [PRIMARY]
GO
