USE [master]
GO
/****** Object:  Database [VASTU_SHASTRA_DEV]    Script Date: 2022/02/02 11:50:46 AM ******/
CREATE DATABASE [VASTU_SHASTRA_DEV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VASTU_SHASTRA_DEV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VASTU_SHASTRA_DEV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VASTU_SHASTRA_DEV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VASTU_SHASTRA_DEV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VASTU_SHASTRA_DEV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VASTU_SHASTRA_DEV]
GO
/****** Object:  Table [dbo].[VS_AREA_MST]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_AREA_MST](
	[AREA_ID] [int] IDENTITY(1,1) NOT NULL,
	[AREA] [nvarchar](200) NOT NULL,
	[COMMENTS] [nvarchar](4000) NULL,
	[STATUS_ID] [int] NOT NULL,
	[DELETE_FLAG] [bit] NOT NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[AREA_JN] [nvarchar](200) NULL,
 CONSTRAINT [PK_VS_AREA_MST] PRIMARY KEY CLUSTERED 
(
	[AREA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS_AREA_MST_TRAN_DETAILS]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_AREA_MST_TRAN_DETAILS](
	[AREA_MST_TRAN_ID] [int] IDENTITY(1,1) NOT NULL,
	[AREA_ID] [int] NOT NULL,
	[COLUMN_NAME] [nvarchar](50) NOT NULL,
	[OLD_DESCRIPTION_VALUE] [nvarchar](4000) NULL,
	[NEW_DESCRIPTION_VALUE] [nvarchar](4000) NULL,
	[STATUS_ID] [int] NOT NULL,
	[DELETE_FLAG] [bit] NOT NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [VS_AREA_MST_TRAN_DETAILS_IDX] PRIMARY KEY CLUSTERED 
(
	[AREA_MST_TRAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS_CONTENT_DETAILS]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_CONTENT_DETAILS](
	[CONTENT_DETAIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENT_ID] [int] NOT NULL,
	[CONTENT_DETAILS] [nvarchar](max) NOT NULL,
	[STATUS_ID] [int] NOT NULL,
	[DELETE_FLAG] [bit] NOT NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_VS_CONTENT_DETAILS] PRIMARY KEY CLUSTERED 
(
	[CONTENT_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS_CONTENT_MST]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_CONTENT_MST](
	[CONTENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTENT_NAME] [nvarchar](200) NOT NULL,
	[STATUS_ID] [int] NOT NULL,
	[DELETE_FLAG] [bit] NOT NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_VS_CONTENT_MST] PRIMARY KEY CLUSTERED 
(
	[CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS_DIRECTION_MST]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_DIRECTION_MST](
	[DIRECTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[DIRECTION] [nvarchar](200) NOT NULL,
	[STATUS_ID] [int] NOT NULL,
	[DELETE_FLAG] [bit] NOT NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[DIRECTION_JN] [nvarchar](200) NULL,
 CONSTRAINT [PK_VS_DIRECTION_MST] PRIMARY KEY CLUSTERED 
(
	[DIRECTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS_FEEDBACK_MST]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_FEEDBACK_MST](
	[FEEDBACK_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](200) NULL,
	[ADDRESS_LINE] [nvarchar](200) NULL,
	[CITY] [nvarchar](200) NULL,
	[STATE] [nvarchar](200) NULL,
	[COUNTRY] [nvarchar](200) NULL,
	[COMMENTS_1] [nvarchar](4000) NULL,
	[COMMENTS_2] [nvarchar](4000) NULL,
	[COMMENTS_3] [nvarchar](4000) NULL,
	[IMAGE_URL_1] [nvarchar](500) NULL,
	[STATUS_ID] [int] NOT NULL,
	[DELETE_FLAG] [bit] NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[LNAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_VS_FEEDBACK_MST] PRIMARY KEY CLUSTERED 
(
	[FEEDBACK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS_IMAGE_MST]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_IMAGE_MST](
	[IMAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGE_DETAILS] [nvarchar](100) NOT NULL,
	[IMAGE_URL] [nvarchar](100) NOT NULL,
	[STATUS_ID] [int] NOT NULL,
	[DELETE_FLAG] [bit] NOT NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[IMAGE_SYMBOL] [nvarchar](1) NULL,
 CONSTRAINT [PK_VS_IMAGE_MST] PRIMARY KEY CLUSTERED 
(
	[IMAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS_SCORE_MST]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_SCORE_MST](
	[SCORE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SCORE_TEXT] [nvarchar](200) NOT NULL,
	[SCORE] [decimal](18, 2) NOT NULL,
	[STATUS_ID] [int] NOT NULL,
	[DELETE_FLAG] [bit] NOT NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[IMAGE_ID] [int] NULL,
 CONSTRAINT [PK_VS_SCORE_MST] PRIMARY KEY CLUSTERED 
(
	[SCORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS_STATUS_MST]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_STATUS_MST](
	[STATUS_ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS] [nvarchar](50) NOT NULL,
	[DELETE_FLAG] [bit] NOT NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_VS_STATUS_MST] PRIMARY KEY CLUSTERED 
(
	[STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS_USER_MST]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_USER_MST](
	[USER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOGIN_NAME] [nvarchar](50) NOT NULL,
	[LOGIN_PASSWORD] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](200) NOT NULL,
	[MIDDLE_NAME] [nvarchar](200) NULL,
	[LAST_NAME] [nvarchar](200) NULL,
	[ADDRESS_LINE1] [nvarchar](200) NULL,
	[ADDRESS_LINE2] [nvarchar](200) NULL,
	[CITY] [nvarchar](200) NULL,
	[COUNTRY] [nvarchar](200) NULL,
	[EMAIL_ID] [nvarchar](200) NOT NULL,
	[CONTACT_NO] [nvarchar](200) NULL,
	[USER_TYPE] [int] NOT NULL,
	[STATUS_ID] [int] NOT NULL,
	[DELETE_FLAG] [bit] NOT NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_VS_USER_MST] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS_VAST_REPORT_TRAN]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_VAST_REPORT_TRAN](
	[VASTU_REPORT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VASTU_TYPE] [nvarchar](200) NOT NULL,
	[REPORT_TAKEN_BY] [nvarchar](200) NULL,
	[EMAIL_ID] [nvarchar](200) NULL,
	[VASTU_DATE] [datetime] NULL,
	[VASTU_TOTAL_SCORE] [decimal](18, 2) NOT NULL,
	[COMMENTS] [nvarchar](4000) NULL,
	[IP_ADDRESS] [nvarchar](50) NULL,
	[STATUS_ID] [int] NOT NULL,
	[DELETE_FLAG] [bit] NOT NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[SessionID] [nvarchar](100) NULL,
	[DLANGUAGE] [nvarchar](2) NULL,
 CONSTRAINT [PK_VS_VAST_REPORT_TRAN] PRIMARY KEY CLUSTERED 
(
	[VASTU_REPORT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS_VAST_REPORT_TRAN_DETAILS]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_VAST_REPORT_TRAN_DETAILS](
	[VASTU_REPORT_DETAILS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[VASTU_REPORT_ID] [bigint] NOT NULL,
	[AREA] [nvarchar](200) NULL,
	[DIRECTION] [nvarchar](200) NULL,
	[VASTU_SCORE] [decimal](18, 2) NULL,
	[DELETE_FLAG] [bit] NOT NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[RESEARCHER_COMMENTS] [nvarchar](4000) NULL,
	[DIRECTION_ID] [int] NULL,
	[AREA_ID] [int] NULL,
	[SCORE_ID] [int] NULL,
 CONSTRAINT [PK_VS_VAST_REPORT_TRAN_DETAILS] PRIMARY KEY CLUSTERED 
(
	[VASTU_REPORT_DETAILS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS_VASTU_MST]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_VASTU_MST](
	[VASTU_ID] [int] IDENTITY(1,1) NOT NULL,
	[AREA_ID] [int] NOT NULL,
	[DIRECTION_ID] [int] NOT NULL,
	[VASTU_TYPE_ID] [int] NOT NULL,
	[SCORE_ID] [int] NOT NULL,
	[EXTRA_SCORE] [decimal](18, 2) NULL,
	[SHORT_DESCRIPTION] [nvarchar](1000) NULL,
	[LONG_DESCRIPTION] [nvarchar](3000) NULL,
	[STATUS_ID] [int] NOT NULL,
	[DELETE_FLAG] [bit] NOT NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_VS_VASTU_MST] PRIMARY KEY CLUSTERED 
(
	[VASTU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS_VASTU_MST_TRAN_DETAILS]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_VASTU_MST_TRAN_DETAILS](
	[VASTU_MST_TRAN_ID] [int] IDENTITY(1,1) NOT NULL,
	[VASTU_ID] [int] NOT NULL,
	[AREA_ID] [int] NOT NULL,
	[AREA] [nvarchar](200) NOT NULL,
	[DIRECTION_ID] [int] NOT NULL,
	[DIRECTION] [nvarchar](200) NOT NULL,
	[VASTU_TYPE_ID] [int] NOT NULL,
	[VASTU_TYPE] [nvarchar](200) NOT NULL,
	[COLUMN_NAME] [nvarchar](50) NOT NULL,
	[OLD_COLUMN_ID] [int] NULL,
	[NEW_COLUMN_ID] [int] NULL,
	[OLD_DESCRIPTION_VALUE] [nvarchar](3000) NULL,
	[NEW_DESCRIPTION_VALUE] [nvarchar](3000) NULL,
	[OLD_SCORE_VALUE] [decimal](18, 2) NULL,
	[NEW_SCORE_VALUE] [decimal](18, 2) NULL,
	[STATUS_ID] [int] NOT NULL,
	[DELETE_FLAG] [bit] NOT NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [VS_VASTU_MST_TRAN_DETAILS_IDX] PRIMARY KEY CLUSTERED 
(
	[VASTU_MST_TRAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS_VASTU_TYPE_MST]    Script Date: 2022/02/02 11:50:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS_VASTU_TYPE_MST](
	[VASTU_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[VASTU_TYPE] [nvarchar](200) NOT NULL,
	[STATUS_ID] [int] NOT NULL,
	[DELETE_FLAG] [bit] NOT NULL,
	[CREATED_USER] [bigint] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_USER] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_VS_VASTU_TYPE_MST] PRIMARY KEY CLUSTERED 
(
	[VASTU_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[VS_AREA_MST] ON 

INSERT [dbo].[VS_AREA_MST] ([AREA_ID], [AREA], [COMMENTS], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [AREA_JN]) VALUES (1, N'バルコニー test', N'ソファなどの重い家具は、バルコニーの南西に配置する必要があります', 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), 1, CAST(N'2020-09-21T15:26:19.153' AS DateTime), N'バルコニー')
INSERT [dbo].[VS_AREA_MST] ([AREA_ID], [AREA], [COMMENTS], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [AREA_JN]) VALUES (2, N'バスルーム', N'トイレと同じ', 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), 1, CAST(N'2020-08-29T18:37:00.000' AS DateTime), N'バスルーム')
INSERT [dbo].[VS_AREA_MST] ([AREA_ID], [AREA], [COMMENTS], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [AREA_JN]) VALUES (3, N'中央（ブラマスタン）', N'余分な家具、水や火の要素、機械、電気、パイプがセンターを通過していないこと。ダイニングルーム、暖炉、キッチン、機械室、オフィス、階段、トイレ、金庫室', 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), 1, CAST(N'2020-08-29T18:38:00.000' AS DateTime), N'中央（ブラマスタン）')
SET IDENTITY_INSERT [dbo].[VS_AREA_MST] OFF
GO
SET IDENTITY_INSERT [dbo].[VS_AREA_MST_TRAN_DETAILS] ON 

INSERT [dbo].[VS_AREA_MST_TRAN_DETAILS] ([AREA_MST_TRAN_ID], [AREA_ID], [COLUMN_NAME], [OLD_DESCRIPTION_VALUE], [NEW_DESCRIPTION_VALUE], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (1, 30, N'エリア', N'貯水タンク', N'貯水タンク cfdsfsd', 4, 0, 1, CAST(N'2020-09-03T15:39:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[VS_AREA_MST_TRAN_DETAILS] ([AREA_MST_TRAN_ID], [AREA_ID], [COLUMN_NAME], [OLD_DESCRIPTION_VALUE], [NEW_DESCRIPTION_VALUE], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (2, 30, N'コメント', N'北東の角から入ると〇、次は南西です〇 test dadassaas', N'北東の角から入ると〇、次は南西です〇 test dadassaas ddsa', 4, 0, 1, CAST(N'2020-09-03T15:39:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[VS_AREA_MST_TRAN_DETAILS] ([AREA_MST_TRAN_ID], [AREA_ID], [COLUMN_NAME], [OLD_DESCRIPTION_VALUE], [NEW_DESCRIPTION_VALUE], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (3, 30, N'アクティブ・非アクティブ', N'1', N'0', 4, 0, 1, CAST(N'2020-09-03T15:39:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[VS_AREA_MST_TRAN_DETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[VS_CONTENT_DETAILS] ON 

INSERT [dbo].[VS_CONTENT_DETAILS] ([CONTENT_DETAIL_ID], [CONTENT_ID], [CONTENT_DETAILS], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (11, 22, N'<span style="font-weight: bold; color: rgb(68, 68, 68); font-family: Meiryo, sans-serif;">ヴァストゥの基準に準拠していない家は、盗難のような状況で見つけられることがあります</span><span style="font-weight: bold; color: rgb(68, 68, 68); font-family: Meiryo, sans-serif;">。123</span>', 4, 0, 1, CAST(N'2020-08-25T02:11:00.000' AS DateTime), 1, CAST(N'2020-09-01T15:53:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[VS_CONTENT_DETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[VS_CONTENT_MST] ON 

INSERT [dbo].[VS_CONTENT_MST] ([CONTENT_ID], [CONTENT_NAME], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (1, N'ホーム メインページ', 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[VS_CONTENT_MST] ([CONTENT_ID], [CONTENT_NAME], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (2, N'ホームの重要性', 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[VS_CONTENT_MST] ([CONTENT_ID], [CONTENT_NAME], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (3, N'ホームのヴァストゥヒント', 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[VS_CONTENT_MST] OFF
GO
SET IDENTITY_INSERT [dbo].[VS_DIRECTION_MST] ON 

INSERT [dbo].[VS_DIRECTION_MST] ([DIRECTION_ID], [DIRECTION], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [DIRECTION_JN]) VALUES (1, N'北', 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), NULL, NULL, N'北')
INSERT [dbo].[VS_DIRECTION_MST] ([DIRECTION_ID], [DIRECTION], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [DIRECTION_JN]) VALUES (2, N'北東', 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), NULL, NULL, N'北東')
INSERT [dbo].[VS_DIRECTION_MST] ([DIRECTION_ID], [DIRECTION], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [DIRECTION_JN]) VALUES (3, N'東', 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), NULL, NULL, N'東')
SET IDENTITY_INSERT [dbo].[VS_DIRECTION_MST] OFF
GO
SET IDENTITY_INSERT [dbo].[VS_FEEDBACK_MST] ON 

INSERT [dbo].[VS_FEEDBACK_MST] ([FEEDBACK_ID], [NAME], [ADDRESS_LINE], [CITY], [STATE], [COUNTRY], [COMMENTS_1], [COMMENTS_2], [COMMENTS_3], [IMAGE_URL_1], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [LNAME]) VALUES (3, N'Takahiro', N'Chrompet', N'Chennai', N'Tamilnadu', N'India', N'"Good Work"', NULL, NULL, N'download.jpg', 4, 0, 1, CAST(N'2020-07-20T11:28:00.000' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[VS_FEEDBACK_MST] OFF
GO
SET IDENTITY_INSERT [dbo].[VS_IMAGE_MST] ON 

INSERT [dbo].[VS_IMAGE_MST] ([IMAGE_ID], [IMAGE_DETAILS], [IMAGE_URL], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [IMAGE_SYMBOL]) VALUES (1, N'良い', N'Favourable_20200819124604.png', 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), 1, CAST(N'2020-08-29T18:39:00.000' AS DateTime), N'Ο')
INSERT [dbo].[VS_IMAGE_MST] ([IMAGE_ID], [IMAGE_DETAILS], [IMAGE_URL], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [IMAGE_SYMBOL]) VALUES (2, N'悪い', N'thumbs_red_20200829182841.png', 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), 1, CAST(N'2020-08-29T18:39:00.000' AS DateTime), N'Χ')
INSERT [dbo].[VS_IMAGE_MST] ([IMAGE_ID], [IMAGE_DETAILS], [IMAGE_URL], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [IMAGE_SYMBOL]) VALUES (3, N'平均', N'Moderate_20200819124541.png', 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), 1, CAST(N'2020-08-29T18:38:00.000' AS DateTime), N'Δ')
SET IDENTITY_INSERT [dbo].[VS_IMAGE_MST] OFF
GO
SET IDENTITY_INSERT [dbo].[VS_SCORE_MST] ON 

INSERT [dbo].[VS_SCORE_MST] ([SCORE_ID], [SCORE_TEXT], [SCORE], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [IMAGE_ID]) VALUES (1, N'点数_1', CAST(1.00 AS Decimal(18, 2)), 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), 1, CAST(N'2020-08-29T18:21:00.000' AS DateTime), 2)
INSERT [dbo].[VS_SCORE_MST] ([SCORE_ID], [SCORE_TEXT], [SCORE], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [IMAGE_ID]) VALUES (2, N'点数_2', CAST(2.00 AS Decimal(18, 2)), 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), 1, CAST(N'2020-08-29T18:21:00.000' AS DateTime), 2)
INSERT [dbo].[VS_SCORE_MST] ([SCORE_ID], [SCORE_TEXT], [SCORE], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [IMAGE_ID]) VALUES (3, N'点数_3', CAST(3.00 AS Decimal(18, 2)), 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), 1, CAST(N'2020-08-29T18:20:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[VS_SCORE_MST] OFF
GO
SET IDENTITY_INSERT [dbo].[VS_STATUS_MST] ON 

INSERT [dbo].[VS_STATUS_MST] ([STATUS_ID], [STATUS], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (1, N'Pending', 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[VS_STATUS_MST] ([STATUS_ID], [STATUS], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (2, N'In Progress', 0, 1, CAST(N'2020-07-20T16:37:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[VS_STATUS_MST] ([STATUS_ID], [STATUS], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (3, N'Rejected', 0, 1, CAST(N'2020-07-20T16:37:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[VS_STATUS_MST] OFF
GO
SET IDENTITY_INSERT [dbo].[VS_USER_MST] ON 

INSERT [dbo].[VS_USER_MST] ([USER_ID], [LOGIN_NAME], [LOGIN_PASSWORD], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [ADDRESS_LINE1], [ADDRESS_LINE2], [CITY], [COUNTRY], [EMAIL_ID], [CONTACT_NO], [USER_TYPE], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (1, N'admin', N'admin', N'admin', NULL, NULL, N'ellis road', N'mount road', N'chennai', N'india', N'gnanavallal1900@gmail.com', N'9012345678', 1, 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), 1, CAST(N'2020-08-29T23:24:00.000' AS DateTime))
INSERT [dbo].[VS_USER_MST] ([USER_ID], [LOGIN_NAME], [LOGIN_PASSWORD], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [ADDRESS_LINE1], [ADDRESS_LINE2], [CITY], [COUNTRY], [EMAIL_ID], [CONTACT_NO], [USER_TYPE], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (9, N'fkarouji', N'Kf227809', N'唐牛', NULL, N'文彦', NULL, NULL, N'横浜市', N'日本', N'karouji.fumihiko@gssltd.co.jp', NULL, 1, 4, 0, 1, CAST(N'2020-08-17T12:43:00.000' AS DateTime), 1, CAST(N'2020-09-07T15:16:00.000' AS DateTime))
INSERT [dbo].[VS_USER_MST] ([USER_ID], [LOGIN_NAME], [LOGIN_PASSWORD], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [ADDRESS_LINE1], [ADDRESS_LINE2], [CITY], [COUNTRY], [EMAIL_ID], [CONTACT_NO], [USER_TYPE], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (11, N'vijay', N'vijay123', N'vijayakumar', NULL, NULL, NULL, NULL, NULL, NULL, N'vj@gmail.com', NULL, 2, 4, 0, 1, CAST(N'2020-09-08T11:17:00.000' AS DateTime), 1, CAST(N'2020-09-19T22:40:17.800' AS DateTime))
SET IDENTITY_INSERT [dbo].[VS_USER_MST] OFF
GO
SET IDENTITY_INSERT [dbo].[VS_VAST_REPORT_TRAN] ON 

INSERT [dbo].[VS_VAST_REPORT_TRAN] ([VASTU_REPORT_ID], [VASTU_TYPE], [REPORT_TAKEN_BY], [EMAIL_ID], [VASTU_DATE], [VASTU_TOTAL_SCORE], [COMMENTS], [IP_ADDRESS], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [SessionID], [DLANGUAGE]) VALUES (19, N'2', N'test', N'test@gmail.com', CAST(N'2020-08-29T17:04:00.000' AS DateTime), CAST(10.00 AS Decimal(18, 2)), NULL, N'27.62.115.26', 4, 0, 1, CAST(N'2020-08-29T17:04:00.000' AS DateTime), NULL, NULL, N'C9C67B9A-DE3B-4196-8DAA-7EA5C2C6B67F', N'ja')
INSERT [dbo].[VS_VAST_REPORT_TRAN] ([VASTU_REPORT_ID], [VASTU_TYPE], [REPORT_TAKEN_BY], [EMAIL_ID], [VASTU_DATE], [VASTU_TOTAL_SCORE], [COMMENTS], [IP_ADDRESS], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [SessionID], [DLANGUAGE]) VALUES (20, N'2', N'nirmal', N'nirmaltrans@gmail.com', CAST(N'2020-08-29T21:04:00.000' AS DateTime), CAST(127.00 AS Decimal(18, 2)), NULL, N'157.46.123.212', 4, 0, 1, CAST(N'2020-08-29T21:04:00.000' AS DateTime), NULL, NULL, N'AA266704-CCAF-44D0-B636-F549CBDF9AAC', N'en')
INSERT [dbo].[VS_VAST_REPORT_TRAN] ([VASTU_REPORT_ID], [VASTU_TYPE], [REPORT_TAKEN_BY], [EMAIL_ID], [VASTU_DATE], [VASTU_TOTAL_SCORE], [COMMENTS], [IP_ADDRESS], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [SessionID], [DLANGUAGE]) VALUES (21, N'2', N'nirmal', N'nirmaltrans@gmail.com', CAST(N'2020-08-29T21:04:00.000' AS DateTime), CAST(127.00 AS Decimal(18, 2)), NULL, N'157.46.123.212', 4, 0, 1, CAST(N'2020-08-29T21:04:00.000' AS DateTime), NULL, NULL, N'AA266704-CCAF-44D0-B636-F549CBDF9AAC', N'en')
SET IDENTITY_INSERT [dbo].[VS_VAST_REPORT_TRAN] OFF
GO
SET IDENTITY_INSERT [dbo].[VS_VAST_REPORT_TRAN_DETAILS] ON 

INSERT [dbo].[VS_VAST_REPORT_TRAN_DETAILS] ([VASTU_REPORT_DETAILS_ID], [VASTU_REPORT_ID], [AREA], [DIRECTION], [VASTU_SCORE], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [RESEARCHER_COMMENTS], [DIRECTION_ID], [AREA_ID], [SCORE_ID]) VALUES (541, 19, N'バルコニー', N'南東', CAST(4.00 AS Decimal(18, 2)), 0, 1, CAST(N'2020-08-29T17:04:00.000' AS DateTime), NULL, NULL, N'sdad', 4, 1, 4)
INSERT [dbo].[VS_VAST_REPORT_TRAN_DETAILS] ([VASTU_REPORT_DETAILS_ID], [VASTU_REPORT_ID], [AREA], [DIRECTION], [VASTU_SCORE], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [RESEARCHER_COMMENTS], [DIRECTION_ID], [AREA_ID], [SCORE_ID]) VALUES (542, 19, N'バスルーム', N'西', CAST(4.00 AS Decimal(18, 2)), 0, 1, CAST(N'2020-08-29T17:04:00.000' AS DateTime), NULL, NULL, N'asdsadasd', 7, 2, 4)
INSERT [dbo].[VS_VAST_REPORT_TRAN_DETAILS] ([VASTU_REPORT_DETAILS_ID], [VASTU_REPORT_ID], [AREA], [DIRECTION], [VASTU_SCORE], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE], [RESEARCHER_COMMENTS], [DIRECTION_ID], [AREA_ID], [SCORE_ID]) VALUES (543, 19, N'貯水タンク', N'東', CAST(2.00 AS Decimal(18, 2)), 0, 1, CAST(N'2020-08-29T17:04:00.000' AS DateTime), NULL, NULL, N'sdsadas', 3, 30, 2)
GO
SET IDENTITY_INSERT [dbo].[VS_VAST_REPORT_TRAN_DETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[VS_VASTU_MST] ON 

INSERT [dbo].[VS_VASTU_MST] ([VASTU_ID], [AREA_ID], [DIRECTION_ID], [VASTU_TYPE_ID], [SCORE_ID], [EXTRA_SCORE], [SHORT_DESCRIPTION], [LONG_DESCRIPTION], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (1, 1, 1, 2, 5, CAST(4.34 AS Decimal(18, 2)), N'sdasdsa adasdasd sdasdas dfsdfsdfsdfs', N'ソファなどの重い家具は、バルコニーの南西に配置する必要があります dsadassadas', 4, 1, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), 1, CAST(N'2020-09-24T13:02:27.013' AS DateTime))
INSERT [dbo].[VS_VASTU_MST] ([VASTU_ID], [AREA_ID], [DIRECTION_ID], [VASTU_TYPE_ID], [SCORE_ID], [EXTRA_SCORE], [SHORT_DESCRIPTION], [LONG_DESCRIPTION], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (2, 1, 2, 2, 1, NULL, NULL, N'ソファなどの重い家具は、バルコニーの南西に配置する必要があります', 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), 1, CAST(N'2020-08-30T14:42:00.000' AS DateTime))
INSERT [dbo].[VS_VASTU_MST] ([VASTU_ID], [AREA_ID], [DIRECTION_ID], [VASTU_TYPE_ID], [SCORE_ID], [EXTRA_SCORE], [SHORT_DESCRIPTION], [LONG_DESCRIPTION], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (3, 1, 3, 2, 2, NULL, NULL, N'ソファなどの重い家具は、バルコニーの南西に配置する必要があります', 4, 1, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), 1, CAST(N'2020-08-29T21:58:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[VS_VASTU_MST] OFF
GO
SET IDENTITY_INSERT [dbo].[VS_VASTU_MST_TRAN_DETAILS] ON 

INSERT [dbo].[VS_VASTU_MST_TRAN_DETAILS] ([VASTU_MST_TRAN_ID], [VASTU_ID], [AREA_ID], [AREA], [DIRECTION_ID], [DIRECTION], [VASTU_TYPE_ID], [VASTU_TYPE], [COLUMN_NAME], [OLD_COLUMN_ID], [NEW_COLUMN_ID], [OLD_DESCRIPTION_VALUE], [NEW_DESCRIPTION_VALUE], [OLD_SCORE_VALUE], [NEW_SCORE_VALUE], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (34, 1, 1, N'バルコニー', 1, N'北', 2, N'センター', N'点数', 1, 7, NULL, NULL, CAST(1.00 AS Decimal(18, 2)), CAST(7.00 AS Decimal(18, 2)), 4, 0, 1, CAST(N'2020-08-30T14:08:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[VS_VASTU_MST_TRAN_DETAILS] ([VASTU_MST_TRAN_ID], [VASTU_ID], [AREA_ID], [AREA], [DIRECTION_ID], [DIRECTION], [VASTU_TYPE_ID], [VASTU_TYPE], [COLUMN_NAME], [OLD_COLUMN_ID], [NEW_COLUMN_ID], [OLD_DESCRIPTION_VALUE], [NEW_DESCRIPTION_VALUE], [OLD_SCORE_VALUE], [NEW_SCORE_VALUE], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (35, 1, 1, N'バルコニー', 1, N'北', 2, N'センター', N'点数', 7, 1, NULL, NULL, CAST(7.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), 4, 0, 1, CAST(N'2020-08-30T14:10:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[VS_VASTU_MST_TRAN_DETAILS] ([VASTU_MST_TRAN_ID], [VASTU_ID], [AREA_ID], [AREA], [DIRECTION_ID], [DIRECTION], [VASTU_TYPE_ID], [VASTU_TYPE], [COLUMN_NAME], [OLD_COLUMN_ID], [NEW_COLUMN_ID], [OLD_DESCRIPTION_VALUE], [NEW_DESCRIPTION_VALUE], [OLD_SCORE_VALUE], [NEW_SCORE_VALUE], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (36, 2, 1, N'バルコニー', 2, N'北東', 2, N'センター', N'点数', 1, 7, NULL, NULL, CAST(1.00 AS Decimal(18, 2)), CAST(7.00 AS Decimal(18, 2)), 4, 0, 1, CAST(N'2020-08-30T14:42:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[VS_VASTU_MST_TRAN_DETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[VS_VASTU_TYPE_MST] ON 

INSERT [dbo].[VS_VASTU_TYPE_MST] ([VASTU_TYPE_ID], [VASTU_TYPE], [STATUS_ID], [DELETE_FLAG], [CREATED_USER], [CREATED_DATE], [UPDATED_USER], [UPDATED_DATE]) VALUES (2, N'センター', 4, 0, 1, CAST(N'2020-07-15T13:47:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[VS_VASTU_TYPE_MST] OFF
GO
ALTER TABLE [dbo].[VS_AREA_MST] ADD  CONSTRAINT [DF_VS_AREA_MST_DELETE_FLAG]  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[VS_AREA_MST_TRAN_DETAILS] ADD  CONSTRAINT [DF_VS_AREA_MST_TRAN_DETAILS_STATUS_ID]  DEFAULT ((4)) FOR [STATUS_ID]
GO
ALTER TABLE [dbo].[VS_AREA_MST_TRAN_DETAILS] ADD  CONSTRAINT [DF_VS_AREA_MST_TRAN_DETAILS_DELETE_FLAG]  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[VS_CONTENT_DETAILS] ADD  CONSTRAINT [DF_VS_CONTENT_DETAILS_DELETE_FLAG]  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[VS_CONTENT_MST] ADD  CONSTRAINT [DF_VS_CONTENT_MST_DELETE_FLAG]  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[VS_DIRECTION_MST] ADD  CONSTRAINT [DF_VS_DIRECTION_MST_DELETE_FLAG]  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[VS_FEEDBACK_MST] ADD  CONSTRAINT [DF_VS_FEEDBACK_MST_DELETE_FLAG]  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[VS_IMAGE_MST] ADD  CONSTRAINT [DF_VS_IMAGE_MST_DELETE_FLAG]  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[VS_STATUS_MST] ADD  CONSTRAINT [DF_VS_STATUS_MST_DELETE_FLAG]  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[VS_USER_MST] ADD  CONSTRAINT [DF_VS_USER_MST_DELETE_FLAG]  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[VS_VAST_REPORT_TRAN] ADD  CONSTRAINT [DF_VS_VAST_REPORT_TRAN_DELETE_FLAG]  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[VS_VAST_REPORT_TRAN_DETAILS] ADD  CONSTRAINT [DF_VS_VAST_REPORT_TRAN_DETAILS_DELETE_FLAG]  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[VS_VASTU_MST] ADD  CONSTRAINT [DF_VS_VASTU_MST_DELETE_FLAG]  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[VS_VASTU_MST_TRAN_DETAILS] ADD  CONSTRAINT [DF_VS_VASTU_MST_TRAN_DETAILS_STATUS_ID]  DEFAULT ((4)) FOR [STATUS_ID]
GO
ALTER TABLE [dbo].[VS_VASTU_MST_TRAN_DETAILS] ADD  CONSTRAINT [DF_VS_VASTU_MST_TRAN_DETAILS_DELETE_FLAG]  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[VS_VASTU_TYPE_MST] ADD  CONSTRAINT [DF_VS_VASTU_TYPE_MST_DELETE_FLAG]  DEFAULT ((0)) FOR [DELETE_FLAG]
GO
ALTER TABLE [dbo].[VS_AREA_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_AREA_MST_VS_STATUS_MST] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[VS_STATUS_MST] ([STATUS_ID])
GO
ALTER TABLE [dbo].[VS_AREA_MST] CHECK CONSTRAINT [FK_VS_AREA_MST_VS_STATUS_MST]
GO
ALTER TABLE [dbo].[VS_AREA_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_AREA_MST_VS_USER_MST] FOREIGN KEY([CREATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_AREA_MST] CHECK CONSTRAINT [FK_VS_AREA_MST_VS_USER_MST]
GO
ALTER TABLE [dbo].[VS_AREA_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_AREA_MST_VS_USER_MST1] FOREIGN KEY([UPDATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_AREA_MST] CHECK CONSTRAINT [FK_VS_AREA_MST_VS_USER_MST1]
GO
ALTER TABLE [dbo].[VS_CONTENT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_VS_CONTENT_DETAILS_VS_CONTENT_MST] FOREIGN KEY([CONTENT_ID])
REFERENCES [dbo].[VS_CONTENT_MST] ([CONTENT_ID])
GO
ALTER TABLE [dbo].[VS_CONTENT_DETAILS] CHECK CONSTRAINT [FK_VS_CONTENT_DETAILS_VS_CONTENT_MST]
GO
ALTER TABLE [dbo].[VS_CONTENT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_VS_CONTENT_DETAILS_VS_STATUS_MST] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[VS_STATUS_MST] ([STATUS_ID])
GO
ALTER TABLE [dbo].[VS_CONTENT_DETAILS] CHECK CONSTRAINT [FK_VS_CONTENT_DETAILS_VS_STATUS_MST]
GO
ALTER TABLE [dbo].[VS_CONTENT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_VS_CONTENT_DETAILS_VS_USER_MST] FOREIGN KEY([CREATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_CONTENT_DETAILS] CHECK CONSTRAINT [FK_VS_CONTENT_DETAILS_VS_USER_MST]
GO
ALTER TABLE [dbo].[VS_CONTENT_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_VS_CONTENT_DETAILS_VS_USER_MST1] FOREIGN KEY([UPDATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_CONTENT_DETAILS] CHECK CONSTRAINT [FK_VS_CONTENT_DETAILS_VS_USER_MST1]
GO
ALTER TABLE [dbo].[VS_CONTENT_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_CONTENT_MST_VS_STATUS_MST] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[VS_STATUS_MST] ([STATUS_ID])
GO
ALTER TABLE [dbo].[VS_CONTENT_MST] CHECK CONSTRAINT [FK_VS_CONTENT_MST_VS_STATUS_MST]
GO
ALTER TABLE [dbo].[VS_CONTENT_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_CONTENT_MST_VS_USER_MST] FOREIGN KEY([CREATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_CONTENT_MST] CHECK CONSTRAINT [FK_VS_CONTENT_MST_VS_USER_MST]
GO
ALTER TABLE [dbo].[VS_CONTENT_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_CONTENT_MST_VS_USER_MST1] FOREIGN KEY([UPDATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_CONTENT_MST] CHECK CONSTRAINT [FK_VS_CONTENT_MST_VS_USER_MST1]
GO
ALTER TABLE [dbo].[VS_DIRECTION_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_DIRECTION_MST_VS_STATUS_MST] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[VS_STATUS_MST] ([STATUS_ID])
GO
ALTER TABLE [dbo].[VS_DIRECTION_MST] CHECK CONSTRAINT [FK_VS_DIRECTION_MST_VS_STATUS_MST]
GO
ALTER TABLE [dbo].[VS_DIRECTION_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_DIRECTION_MST_VS_USER_MST] FOREIGN KEY([CREATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_DIRECTION_MST] CHECK CONSTRAINT [FK_VS_DIRECTION_MST_VS_USER_MST]
GO
ALTER TABLE [dbo].[VS_DIRECTION_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_DIRECTION_MST_VS_USER_MST1] FOREIGN KEY([UPDATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_DIRECTION_MST] CHECK CONSTRAINT [FK_VS_DIRECTION_MST_VS_USER_MST1]
GO
ALTER TABLE [dbo].[VS_FEEDBACK_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_FEEDBACK_MST_VS_STATUS_MST] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[VS_STATUS_MST] ([STATUS_ID])
GO
ALTER TABLE [dbo].[VS_FEEDBACK_MST] CHECK CONSTRAINT [FK_VS_FEEDBACK_MST_VS_STATUS_MST]
GO
ALTER TABLE [dbo].[VS_FEEDBACK_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_FEEDBACK_MST_VS_USER_MST] FOREIGN KEY([CREATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_FEEDBACK_MST] CHECK CONSTRAINT [FK_VS_FEEDBACK_MST_VS_USER_MST]
GO
ALTER TABLE [dbo].[VS_FEEDBACK_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_FEEDBACK_MST_VS_USER_MST1] FOREIGN KEY([UPDATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_FEEDBACK_MST] CHECK CONSTRAINT [FK_VS_FEEDBACK_MST_VS_USER_MST1]
GO
ALTER TABLE [dbo].[VS_IMAGE_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_IMAGE_MST_VS_STATUS_MST] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[VS_STATUS_MST] ([STATUS_ID])
GO
ALTER TABLE [dbo].[VS_IMAGE_MST] CHECK CONSTRAINT [FK_VS_IMAGE_MST_VS_STATUS_MST]
GO
ALTER TABLE [dbo].[VS_IMAGE_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_IMAGE_MST_VS_USER_MST] FOREIGN KEY([CREATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_IMAGE_MST] CHECK CONSTRAINT [FK_VS_IMAGE_MST_VS_USER_MST]
GO
ALTER TABLE [dbo].[VS_IMAGE_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_IMAGE_MST_VS_USER_MST1] FOREIGN KEY([UPDATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_IMAGE_MST] CHECK CONSTRAINT [FK_VS_IMAGE_MST_VS_USER_MST1]
GO
ALTER TABLE [dbo].[VS_SCORE_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_SCORE_MST_VS_STATUS_MST] FOREIGN KEY([IMAGE_ID])
REFERENCES [dbo].[VS_IMAGE_MST] ([IMAGE_ID])
GO
ALTER TABLE [dbo].[VS_SCORE_MST] CHECK CONSTRAINT [FK_VS_SCORE_MST_VS_STATUS_MST]
GO
ALTER TABLE [dbo].[VS_SCORE_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_SCORE_MST_VS_USER_MST] FOREIGN KEY([CREATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_SCORE_MST] CHECK CONSTRAINT [FK_VS_SCORE_MST_VS_USER_MST]
GO
ALTER TABLE [dbo].[VS_SCORE_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_SCORE_MST_VS_USER_MST1] FOREIGN KEY([UPDATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_SCORE_MST] CHECK CONSTRAINT [FK_VS_SCORE_MST_VS_USER_MST1]
GO
ALTER TABLE [dbo].[VS_STATUS_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_STATUS_MST_VS_USER_MST_CREATED_USER] FOREIGN KEY([CREATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_STATUS_MST] CHECK CONSTRAINT [FK_VS_STATUS_MST_VS_USER_MST_CREATED_USER]
GO
ALTER TABLE [dbo].[VS_STATUS_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_STATUS_MST_VS_USER_MST_UPDATED_USER] FOREIGN KEY([UPDATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_STATUS_MST] CHECK CONSTRAINT [FK_VS_STATUS_MST_VS_USER_MST_UPDATED_USER]
GO
ALTER TABLE [dbo].[VS_USER_MST]  WITH NOCHECK ADD  CONSTRAINT [FK_VS_USER_MST_VS_STATUS_MST] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[VS_STATUS_MST] ([STATUS_ID])
GO
ALTER TABLE [dbo].[VS_USER_MST] CHECK CONSTRAINT [FK_VS_USER_MST_VS_STATUS_MST]
GO
ALTER TABLE [dbo].[VS_USER_MST]  WITH NOCHECK ADD  CONSTRAINT [FK_VS_USER_MST_VS_USER_MST_CREATED_USER] FOREIGN KEY([CREATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_USER_MST] CHECK CONSTRAINT [FK_VS_USER_MST_VS_USER_MST_CREATED_USER]
GO
ALTER TABLE [dbo].[VS_USER_MST]  WITH NOCHECK ADD  CONSTRAINT [FK_VS_USER_MST_VS_USER_MST_UPDATED_USER] FOREIGN KEY([UPDATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_USER_MST] CHECK CONSTRAINT [FK_VS_USER_MST_VS_USER_MST_UPDATED_USER]
GO
ALTER TABLE [dbo].[VS_VAST_REPORT_TRAN]  WITH CHECK ADD  CONSTRAINT [FK_VS_VAST_REPORT_TRAN_VS_STATUS_MST] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[VS_STATUS_MST] ([STATUS_ID])
GO
ALTER TABLE [dbo].[VS_VAST_REPORT_TRAN] CHECK CONSTRAINT [FK_VS_VAST_REPORT_TRAN_VS_STATUS_MST]
GO
ALTER TABLE [dbo].[VS_VAST_REPORT_TRAN]  WITH CHECK ADD  CONSTRAINT [FK_VS_VAST_REPORT_TRAN_VS_USER_MST] FOREIGN KEY([CREATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_VAST_REPORT_TRAN] CHECK CONSTRAINT [FK_VS_VAST_REPORT_TRAN_VS_USER_MST]
GO
ALTER TABLE [dbo].[VS_VAST_REPORT_TRAN]  WITH CHECK ADD  CONSTRAINT [FK_VS_VAST_REPORT_TRAN_VS_USER_MST1] FOREIGN KEY([UPDATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_VAST_REPORT_TRAN] CHECK CONSTRAINT [FK_VS_VAST_REPORT_TRAN_VS_USER_MST1]
GO
ALTER TABLE [dbo].[VS_VAST_REPORT_TRAN_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_VS_VAST_REPORT_TRAN_DETAILS_VS_USER_MST] FOREIGN KEY([CREATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_VAST_REPORT_TRAN_DETAILS] CHECK CONSTRAINT [FK_VS_VAST_REPORT_TRAN_DETAILS_VS_USER_MST]
GO
ALTER TABLE [dbo].[VS_VAST_REPORT_TRAN_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_VS_VAST_REPORT_TRAN_DETAILS_VS_USER_MST1] FOREIGN KEY([UPDATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_VAST_REPORT_TRAN_DETAILS] CHECK CONSTRAINT [FK_VS_VAST_REPORT_TRAN_DETAILS_VS_USER_MST1]
GO
ALTER TABLE [dbo].[VS_VAST_REPORT_TRAN_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_VS_VAST_REPORT_TRAN_DETAILS_VS_VAST_REPORT_TRAN] FOREIGN KEY([VASTU_REPORT_ID])
REFERENCES [dbo].[VS_VAST_REPORT_TRAN] ([VASTU_REPORT_ID])
GO
ALTER TABLE [dbo].[VS_VAST_REPORT_TRAN_DETAILS] CHECK CONSTRAINT [FK_VS_VAST_REPORT_TRAN_DETAILS_VS_VAST_REPORT_TRAN]
GO
ALTER TABLE [dbo].[VS_VASTU_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_VASTU_MST_VS_AREA_MST] FOREIGN KEY([AREA_ID])
REFERENCES [dbo].[VS_AREA_MST] ([AREA_ID])
GO
ALTER TABLE [dbo].[VS_VASTU_MST] CHECK CONSTRAINT [FK_VS_VASTU_MST_VS_AREA_MST]
GO
ALTER TABLE [dbo].[VS_VASTU_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_VASTU_MST_VS_DIRECTION_MST] FOREIGN KEY([DIRECTION_ID])
REFERENCES [dbo].[VS_DIRECTION_MST] ([DIRECTION_ID])
GO
ALTER TABLE [dbo].[VS_VASTU_MST] CHECK CONSTRAINT [FK_VS_VASTU_MST_VS_DIRECTION_MST]
GO
ALTER TABLE [dbo].[VS_VASTU_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_VASTU_MST_VS_STATUS_MST] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[VS_STATUS_MST] ([STATUS_ID])
GO
ALTER TABLE [dbo].[VS_VASTU_MST] CHECK CONSTRAINT [FK_VS_VASTU_MST_VS_STATUS_MST]
GO
ALTER TABLE [dbo].[VS_VASTU_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_VASTU_MST_VS_USER_MST] FOREIGN KEY([CREATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_VASTU_MST] CHECK CONSTRAINT [FK_VS_VASTU_MST_VS_USER_MST]
GO
ALTER TABLE [dbo].[VS_VASTU_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_VASTU_MST_VS_USER_MST1] FOREIGN KEY([UPDATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_VASTU_MST] CHECK CONSTRAINT [FK_VS_VASTU_MST_VS_USER_MST1]
GO
ALTER TABLE [dbo].[VS_VASTU_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_VASTU_MST_VS_VASTU_TYPE_MST] FOREIGN KEY([VASTU_TYPE_ID])
REFERENCES [dbo].[VS_VASTU_TYPE_MST] ([VASTU_TYPE_ID])
GO
ALTER TABLE [dbo].[VS_VASTU_MST] CHECK CONSTRAINT [FK_VS_VASTU_MST_VS_VASTU_TYPE_MST]
GO
ALTER TABLE [dbo].[VS_VASTU_TYPE_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_VASTU_TYPE_MST_VS_STATUS_MST] FOREIGN KEY([STATUS_ID])
REFERENCES [dbo].[VS_STATUS_MST] ([STATUS_ID])
GO
ALTER TABLE [dbo].[VS_VASTU_TYPE_MST] CHECK CONSTRAINT [FK_VS_VASTU_TYPE_MST_VS_STATUS_MST]
GO
ALTER TABLE [dbo].[VS_VASTU_TYPE_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_VASTU_TYPE_MST_VS_USER_MST] FOREIGN KEY([CREATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_VASTU_TYPE_MST] CHECK CONSTRAINT [FK_VS_VASTU_TYPE_MST_VS_USER_MST]
GO
ALTER TABLE [dbo].[VS_VASTU_TYPE_MST]  WITH CHECK ADD  CONSTRAINT [FK_VS_VASTU_TYPE_MST_VS_USER_MST1] FOREIGN KEY([UPDATED_USER])
REFERENCES [dbo].[VS_USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[VS_VASTU_TYPE_MST] CHECK CONSTRAINT [FK_VS_VASTU_TYPE_MST_VS_USER_MST1]
GO
/****** Object:  StoredProcedure [dbo].[GetVastuReport]    Script Date: 2022/02/02 11:50:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetVastuReport]                 
(
@inputXML XML=NULL
)
            
AS              
BEGIN          
      
Declare @VastuReportList as  Table          
( 
 [AreaId] int,
 [DirectionId] int
)        
      
      
INSERT INTO @VastuReportList          
    SELECT         
	A.VastuInput.value('(AreaId)[1]', 'int') AS AreaId,
	A.VastuInput.value('(DirectionId)[1]', 'int') AS DirectionId
    FROM @inputXML.nodes('ArrayOfInputs/Inputs') AS A (VastuInput)            
    OPTION (OPTIMIZE FOR (@inputXML = NULL))

	select ROW_NUMBER() over(order by AM.AREA) as RowNumber, AM.AREA as Interior,DM.DIRECTION as Direction,
	SM.SCORE as Judgment,VM.LONG_DESCRIPTION as Comment 
	from @VastuReportList Input
	join VS_VASTU_MST VM on Input.AreaId=VM.AREA_ID and Input.DirectionId=VM.DIRECTION_ID
	join VS_AREA_MST AM on Input.AreaId=AM.AREA_ID
	join VS_DIRECTION_MST DM on Input.DirectionId=DM.DIRECTION_ID
	join VS_SCORE_MST SM on VM.SCORE_ID=SM.SCORE_ID
END



GO
USE [master]
GO
