@{
    ViewBag.Title = "Home Page";
}


<div class="row col-sm-12">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4 jumbotron">
        <h1>
            @if (ViewBag.Lan == "ja")
            {

                <img src="~/img/Muji_Video-JP.png" class="center-block" height="260" width="350"  />


            }
            else
            {
                <img src="~/img/VIDEO1.png" class="center-block" height="350" width="350" />
            }

        </h1>
    </div>
    <div class="col-sm-4">

    </div>
</div>