
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/dist/js/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Kaisokku_Home</title>
    <style>
        body {
            background: white;
            color: black;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
        }

        #nav a {
            color: black;
            font-weight: bold;
        }

        #footer a {
            color: white;
        }

        footer {
            width: 100%;
            height: 685px;
            left: 0px;
            margin-top: 700px;
            font-weight: bold;
            background: #2e2e2e;
        }

        .brands {
            width: 95%;
            height: 200px;
            margin-left: 2.5%;
            margin-top: 60px;
            border-radius: 10px;
            background: white;
            position: absolute;
        }

        .navbar {
            width: 100%;
            top: 0.8%;
        }

        .signin {
            border: 1px solid;
            border-radius: 25px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 10px;
        }

        .LOGTEXT {
            color: #949494;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }

        .imgcontainer {
            float: right;
            background-image: url("~/assets/containter_Rectangle.png");
        }

        .imgcontainer1 {
            background-image: url("~/assets/img/Group 243.jpg");
        }

        #imgcontainer h1 {
            color: black;
        }

        #imgcontainer p {
            color: black;
            z-index: 1;
        }

        .demo {
            color: white;
            padding: 10px 25px;
            border-radius: 20px;
            background: #da291c;
        }

        .clintdiv {
            background: #f6f4f5;
            width: 100%;
            text-align: center;
            margin-top: 680px;
        }

        .boxshadow {
            width: 200px;
            margin: 30px;
            box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
            text-align: justify;
            border-radius: 10px;
            padding: 20px;
            height:250px;
        }

        .pricediv {
            box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
            background: white;
            padding: 20px;
            border-radius: 20px;
            margin-left: 20px;
            width: 90%;
        }

        a {
            text-decoration: none;
            cursor: pointer;
        }

        element.style {
        }

        #nav a {
            color: white;
            font-weight: bold;
            padding: 15px 38px;
            font-size: 18px;
        }

        .nav > li > a:focus, .nav > li > a:hover {
            text-decoration: none;
            background-color: transparent;
        }

        h1 {
            font-weight: bold
        }
        p{
            font-size:18px;
        }
    </style>
</head>
<body>
    <div class="">



    <nav class="navbar" id="nav">
        <div class="">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img style="width: 150px;margin-top: -12px;padding:15px" src="~/assets/logo.jpg" />
                </a>
            </div>
            <ul class="nav navbar-nav" style="float:right;margin-right: 50px;position: sticky;z-index: 1;">

                <li><a href="#">About us</a></li>
                <li><a href="#" style="padding-right: 85px;">Services</a></li>
                <li><a href="#" class="signin" style=" padding: 5px 25px;">Sign In</a></li>
            </ul>
        </div>
    </nav>
    </div>
    <div id="imgcontainer">

        <div>
            <!-- <img style="width:700px;margin-top: 85px;margin-left: 590px;position: absolute;" src="~/assets/container_img (2).png"/>-->
            <div class="col-sm-5">
                <h1 style="color:black   ; margin-left: 10px;margin-top: 160px;">
                    Robotic Process Automation
                </h1>
                <p style="margin-left: 10px;">
                    RPA is s form of buisness process automation technology
                    <br>
                    based on software Robots
                    <br>
                    <br>
                    <a class="demo">
                        Demo
                    </a>
                </p>
            </div>

            <div class="col-sm-7 " style="padding:0">

                <img style="margin-top:-75px;width:100%" src="~/assets/img/container_RPA.png" />

            </div>

        </div>
    </div>

    <div class="clintdiv">
       <br />
        <h1>
            Clints/Partners
            <br>
            <br>
        </h1>

        <img src="~/assets/img/Group 224.jpg" />

        <img style="margin-left:200px" src="~/assets/img/Group 228.jpg" />

        <img style="margin-left:200px" src="~/assets/img/Hayaai.png" />
        <br>
        <br>
    </div>
    <div class="">

        <div class="col-sm-6" style="padding:0px">
            <img style="width:600px;" src="~/assets/img/RPA.png" />
            <!--<img style="position: absolute;margin-left: -380px;margin-top: -58px;" src="~/assets/image_8-removebg-preview.png"/>-->
        </div>
        <div class="col-sm-5">
            <h1 style="    margin-top: 130px;">
                RPA
            </h1>
            <img style="position: absolute; margin-left: 87%; margin-top: 225px; "  src="~/assets/img/dots.png" />
            <p class="text-7roboto-medium-black-19px">
                Robotic process automation (RPA) is the application of technology that allows employees in a company to
                configure computer software or a “robot” to capture and interpret existing applications for processing a
                transaction, manipulating data, triggering responses and communicating with other digital systems.<br /><br />RPA
                systems develop the action list by watching the user perform that task in the application&#39;s
                graphical user interface (GUI), and then perform the automation by repeating those tasks directly in the
                GUI
                <br>
                <br>
                <br>
                <a class="demo">
                    Learn more
                </a>
            </p>
        </div>

    </div>
    <div style="    margin-top: 800px;">
        <h2 style="text-align:center;font-weight:bold;">
            Why RPA
        </h2>
      
        <img style="position: absolute;margin-left: 91%;margin-top: -56px;width: 130px;" src="~/assets/Ellipse 39.png" />
        <img style="position: absolute;margin-top: -69px;margin-left: 90%;width: 141px;" src="~/assets/Ellipse 37.png" />
        <div class="col-sm-4">
            <br>
            <img style="width:30px;  margin-left:170px;" src="~/assets/image 11.png" />
            <label style="margin-left:15px;">
                Distict product for sale
            </label>
            <br>
            <br>
            <br>
            <img style="width:30px; margin-left:170px;" src="~/assets/image 12.png" />
            <label style="margin-left:15px;">
                Accuracy and timed reports
            </label>
            <br>
            <br>
            <br>
            <img style="width:30px; margin-left:170px;" src="~/assets/image 13.png" />
            <label style="margin-left:15px;">
                Increased call volume
            </label>
        </div>
        <div class="col-sm-4" style="text-align:center;">
            <img style="margin-left:30px;" src="~/assets/img/Group 241.jpg" />
        </div>
        <div class="col-sm-4">
            <br>

            <img style="width:30px; margin-left:70px;" src="~/assets/image 14.png" />
            <label style="margin-left:15px;">
                KPI score achivement
            </label>
            <br>
            <br>
            <br>
            <img style="width:30px;margin-left:70px;" src="~/assets/image 13.png" />
            <label style="margin-left:15px;">
                Hastle free installation
            </label>
            <br>
            <br>
            <br>
            <img style="width:25px;margin-left:70px;" src="~/assets/image 12.png" />
            <label style="margin-left:15px;">
                Zero infrastructure
            </label>
        </div>
    </div>
    <br>
    <br>
    <div>
        <div class="col-sm-5">
            <br />
            <br />
            <img style="width:100%" src="~/assets/img/Tecnology.png" />

        </div>
        <div class="col-sm-6">
            <br />
            <br />
            <h1 style="margin-top:200px;margin-left:60px">
                Tecnology
            </h1>
            <p style="margin-left:60px">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text
                of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
            </p>
        </div>
    </div>
    <div style="margin-top:900px;">
        <div class="col-sm-6">
            <h1 style="margin-top:150px;margin-left:100px;">
                Product & Services
            </h1>

            <p style="margin-left:100px;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text
                of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
                <br>
                <br>
                <br>
                <a class="demo">
                    Learn more
                </a>
            </p>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6 boxshadow" style="margin-left:125px">

                <img style=" width:40px;text-align:center;    margin-left: 40%;" src="~/assets/image 11.png" />
                <br>
                <br>
                <br>

                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                <br>
                <br>
            </div>
            <div class="col-sm-6 boxshadow">

                <img style=" width:40px;text-align:center;    margin-left: 40%;" src="~/assets/image 12.png" />
                <br>
                <br>
                <br>

                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                <br>
                <br>
            </div>
            <div>
                <img style="position: absolute;margin-top: 213px;margin-left: -60px;" src="~/assets/img/Dots.png" />
            </div>
            <div class="col-sm-6 boxshadow" style="margin-left: 175px;">
                <img style=" width:40px;text-align:center;    margin-left: 40%;" src="~/assets/image 13.png" />
                <br>
                <br>
                <br>

                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                <br>
                <br>
            </div>
            <div class="col-sm-6 boxshadow">

                <img style=" width:40px;text-align:center;    margin-left: 40%;" src="~/assets/image 14.png" />
                <br>
                <br>
                <br>

                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                <br>
                <br>
            </div>
        </div>


    </div>
    <div>
        <h1 style="    position: absolute;margin-left: 40%;color: white;"> RPA Demo</h1>
        <img style="position:absolute;margin-top:300px;margin-left:10%;width:40px" src="~/assets/Frame 223.png" />
        <img style="position:absolute;margin-top:300px;margin-left:82%;width:40px" src="~/assets/Frame 222.png" />
        <img style="height: 650px;width:100%" src="~/assets/img/Group 243.jpg" />
    </div>
   

    <div style="background:#f6f4f5;    margin-top: -20px;">
        <br>
        <br>
        <br><br>
        <h1 style="text-align:center">
            Our Pricing plan
        </h1>
        <br>
        <br>


        <div class="col-sm-4 " style="background: #f6f4f5;margin-top: -10px;">
            <div class="pricediv">
                <div class="col-sm-8">

                    <label>
                        Cloud
                    </label>
                    <br>
                    Most popular
                </div>
                <div class="col-sm-4">
                    <div style="background:#e2e2e2;width:100%;    padding: 20px;border-radius:20px">
                        <label style="font-size:24px">
                            $0.00
                        </label>
                        <br>
                        <label style="font-size:12px">
                            per month
                        </label>
                        </label>
                    </div>

                </div>
                <br>
                <div style="border-top:2px solid #f6f4f5;    margin-top: 80px;">
                    <br>
                    <br>
                    <img src="~/assets/Group 234.png" />
                    <label>
                        Unlimited Updates and products
                    </label>
                    <br>
                    <br>
                    <img src="~/assets/Group 234.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 234.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 234.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 237.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 237.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 237.png" />
                </div>
                <div>
                    <br>
                    <br>
                    <button style="color: black;padding: 15px 0;border-radius: 6px;background: #e2e2e2;font-weight: bold;width: 100%; border: none;">
                        Get started
                    </button>
                    <br>
                    <br>
                </div>
            </div>
            <br>
            <br><br>
            <br>
            <br>
            <br>
            <br><br>
            <br>
        </div>
        <div class="col-sm-4 " style="background: #f6f4f5;margin-top: -10px;">
            <div class="pricediv">
                <div class="col-sm-8">

                    <label>
                        Private Cloud
                    </label>
                    <br>
                    Most popular
                </div>
                <div class="col-sm-4">
                    <div style="background:#db291d;width:100%; color:white;     padding: 20px;border-radius:20px">
                        <label style="font-size:24px">
                            $0.00
                        </label>
                        <br>
                        <label style="font-size:12px">
                            per month
                        </label>
                    </div>

                </div>
                <br>
                <div style="border-top:2px solid #f6f4f5;    margin-top: 80px;">
                    <br>
                    <br>
                    <img src="~/assets/Group 234.png" />
                    <label>
                        Unlimited Updates and products
                    </label>
                    <br>


                    <br>
                    <img src="~/assets/Group 234.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 234.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 234.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 237.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 237.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 237.png" />
                </div>
                <br>
                <br>

                <button style="color: white;padding: 15px 0;border-radius: 6px;background: #db291d;font-weight: bold;width: 100%; border: none;">
                    Get started
                </button>
                <br>
                <br>
            </div>
            <br>
            <br><br>
            <br>
            <br>
            <br>
            <br><br>
            <br>

        </div>
        <div class="col-sm-4 " style="background: #f6f4f5;margin-top: -10px;">
            <div class="pricediv">
                <div class="col-sm-8">

                    <label>
                        Premises
                    </label>
                    <br>
                    Most popular
                </div>
                <div class="col-sm-4">
                    <div style="background:#e2e2e2;width:100%;    padding: 20px;border-radius:20px">
                        <label style="font-size:24px">
                            $0.00
                        </label>
                        <br>
                        <label style="font-size:12px">
                            per month
                        </label>
                    </div>

                </div>
                <br>
                <div style="border-top:2px solid #f6f4f5;    margin-top: 80px;">
                    <br>
                    <br>
                    <img src="~/assets/Group 234.png" />
                    <label>
                        Unlimited Updates and products
                    </label>
                    <br>
                    <br>
                    <img src="~/assets/Group 234.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 234.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 234.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 237.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 237.png" />
                    <br>
                    <br>
                    <img src="~/assets/Group 237.png" />
                    <br>

                </div>
                <br>
                <br>
                <button style="color: black;padding: 15px 0;border-radius: 6px;background: #e2e2e2;font-weight: bold;width: 100%; border: none;">
                    Get started
                </button>
                <br>
                <br>
            </div>

            <br>
            <br><br>
            <br>
            <br>
            <br>
            <br><br>
            <br>

        </div>

    </div>




    <footer id="footer">
        <div class="brands">
            <h1 style="color:black;font-weight:bold; text-align:center">
                BRANDS
            </h1>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-3 " style="text-align:center">
                    <img src="~/assets/img/Group 225.png" />
                </div>
                <div class="col-sm-3 " style="text-align:center">
                    <img src="~/assets/img/Group 221.png" />
                </div>
                <div class="col-sm-3 " style="text-align:center">
                    <img src="~/assets/img/VOLTAS.png" />
                </div>
                <div class="col-sm-3 " style="text-align:center">
                    <img style="margin-top:-25px;" src="~/assets/img/Group 220.png" />
                </div>
            </div>

        </div>
        <div class="" style="color:white">

            <div class="footer-item">
                <div class="footer-category">

                    <div class="col-sm-10" style="margin-left:20px;">
                        <h1 style="margin-top: 100px;">KAISOKKU</h1>
                        <div class="col-sm-6" style="padding:0;">
                            <div>

                                <br>
                                <img style="margin-left: -7px;" src="~/assets/place.png" />

                                AA street,
                                Japan



                            </div>
                            <div>
                                <br>
                                <img style="margin-left: -5px;" src="~/assets/mail.png" />
                                sample@gmail.com
                                <br>


                            </div>
                            <div>
                                <br>
                                <img style="margin-left: -7px;" src="~/assets/stay_current_portrait_24px.png" />
                                +65 0000000

                                <br>
                                <br>
                                <br>
                                <img src="~/assets/facebook.png" />
                                <img style="margin-left:25px" src="~/assets/instagram.png" />
                                <img style="margin-left:25px" src="~/assets/linkedin.png" />

                            </div>
                            <div>
                                <p>

                                </p>


                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">
                                        <i class="icofont-simple-right"></i>
                                        About US
                                    </a>
                                </li>
                                <br>
                                <li>
                                    <a href="#">
                                        <i class="icofont-simple-right"></i>
                                        FAQs
                                    </a>
                                </li>
                                <br>
                                <li>
                                    <a href="#">
                                        <i class="icofont-simple-right"></i>
                                        Terms and Conditions
                                    </a>
                                </li>
                                <br>
                                <li>
                                    <a href="#">
                                        <i class="icofont-simple-right"></i>
                                        Privacy and Policy
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <br>

                    <div class="col-sm-12" style="text-align:center;">
                        <br>
                        <br>
                        © 2021 Copyright: kaisokku.All Rights Reserved
                    </div>

                </div>

            </div>
    </footer>
</body>
</html>
