
@{
    ViewBag.Title = "Language";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<div class="container" style="margin-left:245px; color:black" data-aos="fade-up">
    <br>
    <br>
    <h2>@Vastu.Resources.Resource.Language</h2>

    <br>
    <br>
    <ul  color:black>
        <li >@Html.ActionLink(Vastu.Resources.Resource.English, "Change", "Language", new { LanguageAbbrevation = "en", @style = "color:black" }, null)</li>
        <br>
        <li >@Html.ActionLink(Vastu.Resources.Resource.Japanese, "Change", "Language", new { LanguageAbbrevation = "ja", @style = "color:black" }, null)</li>
    </ul>
</div>