{
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-weight: 100;
    color: #000;
}

.container1 {
    background: rgb(237, 239, 240);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-card {
    min-height: 300px;
    width: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0,0,0,.3);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.text {
    padding: 2.2em;
    line-height: 1.7em;
    position: relative;
    font-size: 18px;
}

.textname {
    padding: 2.2em;
    line-height: 1.7em;
    position: relative;
    font-size: 18px;
    text-align: right;
}

.textnamebox {
    padding: 2.6em;
    line-height: 1.7em;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    font-weight: 100;
    text-align: center;
}

.image {
    background-color: white;
    height: 110px;
    width: 110px;
    /*    border-radius: 50%;*/
    border-radius: 6%;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    border: 3px solid #fff;
    /*    background: no-repeat center/cover url(https://images.unsplash.com/photo-1563715992566-7ad5cf5b71d3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);*/
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    border-color: #1bbd36;
}

.footer {
    background: linear-gradient(90deg, #1a2B96 0%, #1bbd36 100%);
    height: 90px;
    border-radius: 0 0 10px 10px;
    position: relative;
}

.quote {
    font-size: 400%;
    float: right;
    opacity: .1;
    transform: rotate(10deg) translate(-10px, -40px);
    color: #4D3FA3;
}

.person {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 1.5rem;
    font-weight: 600;
}
/*feedback button */
#feedback {
    position: fixed;
    top: 50%;
    right: 0;
}

    #feedback a {
        /*    background: linear-gradient(90deg, #1a2B96 0%, #1bbd36 100%);*/
        border-radius: 5%;
        box-shadow: 0 0 3px rgba(0, 0, 0, .3);
        border: 3px solid #fff;
       /* border-right: 0;*/
        display: block;
        padding: 8px 0px;
        transition: all .2s ease-in-out;
    }

        #feedback a:hover {
            padding-right: 20px;
        }

.feedbackbtn {
    -webkit-transform: rotate(-90deg);
    transform: rotate(90deg);
    float: right;
    margin-right: -53px;
}
